# dist
/dist
/export
/rpmbuild
/dpkgbuild
# Build temporaries
/RH*
/FC*
/UB*
/DEB*
/ROCKY*
# log files
/*.log*
# obj files
*.o
*.so
*.out
core.[0-9]?*
# vim swap files
.*.sw*
.sw*
# bear make output
/compile_commands.json
.aider*
